{{template "head.html" .}}
<div class="content bg-white shadow">
	<h1>{{.Article.Title}}</h1>
	<span class="article-date">
		Erstellt: {{.Article.Created.Day}}. {{.Article.Created.Month}} {{.Article.Created.Year}} | Zuletzt geändert: {{.Article.Updated.Day}}. {{.Article.Updated.Month}} {{.Article.Updated.Year}}
	</span>

	{{.Article.Content}}
</div>

<div class="content bg-white shadow">
	<h2>Kommentar schreiben</h2>

	...

	<hr />
	<h2>Kommentare</h2>

	{{range $comment := .Article.Comments}}
		<div class="comment">
			<h4>{{$comment.Author}} - {{$comment.Created.Day}}. {{$comment.Created.Month}} {{$comment.Created.Year}}</h4>

			{{$comment.Content}}
		</div>
	{{else}}
		Keine Kommentare.
	{{end}}
</div>
{{template "foot.html" .}}
